@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
}

.swagger-ui {
  filter: invert(88%) hue-rotate(210deg) brightness(180%);
}

.swagger-ui {
  filter: invert(100%) hue-rotate(210deg);
}

.highlight-code {
  filter: invert(100%) hue-rotate(210deg);
}
